asgiref==3.7.2
asttokens==2.4.1
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20230430
Django==4.2.7
django-filter==23.5
django-import-export==3.3.3
et-xmlfile==1.1.0
executing==2.0.1
idna==3.6
ipython==8.18.1
jedi==0.19.1
MarkupPy==1.14
matplotlib-inline==0.1.6
nepali-date-converter==0.0.1
nepali-datetime==1.0.8.1
numpy==1.26.2
odfpy==1.4.1
openpyxl==3.1.2
pandas==2.1.3
parso==0.8.3
prompt-toolkit==3.0.41
psycopg2==2.9.9
pure-eval==0.2.2
pyBSDate==0.3.0
Pygments==2.17.2
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.3
tablib==3.5.0
traitlets==5.14.0
tzdata==2023.3
urllib3==2.1.0
wcwidth==0.2.12
xlrd==2.0.1
xlwt==1.3.0
