{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-12">

        <!-- Company and Contact Information Card -->
        <div class="card">
            <div class="card-body" style="background:#FAD9A1;">
                <div class="row mt-3 mb-0">
                    <!-- Company Information Column -->
                    <div class="col-md-4 font-weight-bold text-dark">
                        <!-- Client Information Section -->
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3 ">Client Id:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.short_name }}
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Account Name:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.account_name }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Address:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.address }}
                            </div>
                        </div>

                        <div class="row mb-1">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Balance:</h6>
                            </div>
                            <div class="col-sm-9">
                                Rs {{ client.balance }}
                            </div>
                        </div>    
                    </div>
                    
                    <!-- Contact Information Column -->
                    <div class="col-md-4 font-weight-bold text-dark">

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Contact Name:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.contact_name }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Email:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.email }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Phone Number:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.phone_number }}
                            </div>
                        </div>

                        <div class="row mb-1">
                            <div class="col-sm-3">
                                <h6 class="mb-3">PAN Number:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.pan_number }}
                            </div>
                        </div>
                    </div>

                    <!-- Contact Information Column -->
                    <div class="col-md-4 font-weight-bold text-dark">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Group:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.group }}
                            </div>
                        </div>
        
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Collector:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.collector }}
                            </div>
                        </div>
        
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Guarantee World Insurer:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.guarantee_world_insurer }}
                            </div>
                        </div>
        
                        <div class="row mb-1">
                            <div class="col-sm-3">
                                <h6 class="mb-1">Credit Limit:</h6>
                            </div>
                            <div class="col-sm-9">
                               Rs {{ client.credit_limit }}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div><!-- end col -->
</div>
<!-- end row -->


<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs nav-justified mb-3">
                <li class="nav-item">
                    <a href="#collection" data-toggle="tab" aria-expanded="true" class="nav-link">
                        <i class="mdi mdi-home-variant d-lg-none d-block"></i>
                        <span class="d-none d-lg-block">Collection </span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="#report" data-toggle="tab" aria-expanded="false" class="nav-link active">
                        <i class="mdi mdi-settings-outline d-lg-none d-block"></i>
                        <span class="d-none d-lg-block">Report & Indicators</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#history" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <i class="mdi mdi-settings-outline d-lg-none d-block"></i>
                        <span class="d-none d-lg-block">History </span>
                    </a>
                </li>
                <hr>
            </ul>

            <div class="tab-content">
                <div class="tab-pane " id="collection">
                    <div class="col-12">
                        <div class="card-body">
                            
                            {% if incomplete_actions %}
    <br><br> <h5 class="mb-4"><i class="mdi mdi-calendar-check"></i> Actions to do :</h5>
    <div class="alert " role="alert">
        <table id="manual-datatable" class="table custom-datatable">
            <thead>
                <tr class="alert alert-danger">
                    <th>Completed</th>
                    <th>Action Date</th>
                    <th>Action Type</th>
                    <th>Action Amount</th>
                    {% if incomplete_actions.0.followup_date %}
                        <th>Reminder Date:</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for action in incomplete_actions %}
                <tr>
                    <td class="text-center" style="width: 10px;">
                        <input type="checkbox" name="completed_actions" value="{{ action.id }}">
                    </td>
                    <td>{{ action.action_date }}</td>
                    {% if action.action_type == 'SMS' %}
                        <td>
                            <button type="button" class="btn btn-warning waves-effect waves-light" style="width: 150px;">
                                <i class="mdi mdi-message"></i> {{ action.action_type }}
                            </button>
                        </td>
                    {% elif action.action_type == 'Call' %}
                        <td>
                            <button type="button" class="btn btn-success waves-effect waves-light" style="width: 150px;">
                                <i class="mdi mdi-phone"></i> {{ action.action_type }}
                            </button>
                        </td>
                    {% elif action.action_type == 'Email' %}
                        <td>
                            <button type="button" class="btn btn-danger waves-effect waves-light" style="width: 150px;">
                                <i class="mdi mdi-gmail"></i> {{ action.action_type }}
                            </button>
                        </td>
                    {% endif %}
                    <td>Rs  {{ action.action_amount }}</td>
                    {% if action.followup_date %}
                    <td>{{ action.followup_date}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr style="color: red !important;">
    </div>
{% elif last_action %}
    <br><br> <h5 class="mb-4"><i class="mdi mdi-calendar-check"></i> Recent Action:</h5>
    <div class="alert " role="alert">
        <table id="manual-datatable" class="table custom-datatable">
            <thead>
                <tr class="alert alert-danger">
                    <th>Completed</th>
                    <th>Action Date</th>
                    <th class="text-center">Action Type</th>
                    <th>Action Amount</th>
                    <th>Bill No.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center" style="width: 10px;">
                        <i class="mdi mdi-check" style="color: green;"></i>
                    </td>
                    <td>{{ last_action.action_date }}</td>
                    {% if last_action.action_type == 'SMS' %}
                        <td class="text-center">
                            <a tabindex="0" class="btn btn-warning waves-effect waves-light" style="width: 150px;" role="button" data-toggle="popover" data-trigger="focus" 
                            title="{{ last_action.subtype }}" data-content="{{ last_action.description }}"><i class="mdi mdi-message"></i> {{ last_action.action_type }}</a>
                        </td>
                    {% elif last_action.action_type == 'Call' %}
                        <td class="text-center">
                            <a tabindex="0" class="btn btn-success waves-effect waves-light" style="width: 150px;" role="button" data-toggle="popover" data-trigger="focus" 
                            title="{{last_action.subtype}}" data-content="{{last_action.description}}"><i class="mdi mdi-phone"></i>  {{ last_action.action_type }}</a>
                        </td>
                    {% elif last_action.action_type == 'Email' %}
                        <td class="text-center">
                            <a tabindex="0" class="btn btn-danger waves-effect waves-light"  style="width: 150px;" role="button" data-toggle="popover" data-trigger="focus" 
                            title="{{last_action.subtype}}" data-content="{{last_action.description}}"><i class="mdi mdi-gmail"></i>  {{ last_action.action_type }}</a>
                        </td>
                    {% endif %}
                    <td>Rs  {{ last_action.action_amount }}</td>
                    <td>{{ last_action.bill_no}}</td>
                </tr>
            </tbody>
        </table>
        <hr style="color: red !important;">
    </div>
{% endif %}

        
                            <table id="basic-datatable" class="table active">
                                <thead>
                                    <tr style="background:#d1e4f6;">
                                        <th>#</th>
                                        <th>Bill no. </th>
                                        <th>Due date</th>
                                        <th>Over due </th>
                                        <th>Overdue120</th>
                                        
                                    </tr>
                                </thead>
                            
                            
                                <tbody>
                                    {% for bill in bills %}
                                    <tr style="background-color: #f2dede;">
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ bill.bill_no }}</td>
                                            <td>{{ bill.due_date }}</td>
                                            <td>Rs {{ bill.balance }}</td>
                                            <td>Rs {{ bill.cycle9 }}</td>
                                            <!-- Add more columns for bill information -->
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
            
                        </div> <!-- end card body-->
                    </div><!-- end col-->
                </div>
                
                <div class="tab-pane show active" id="report">
                    <!-- start page title -->
                   

                    <div class="row">
                        
                    
                        <div class="col-xl-8">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Aging Report</h4>
                                    <p class="card-subtitle mb-4">Aging Report of the Client</p>
                                    <canvas id="barChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Aging Report</h4>
                                    <p class="card-subtitle mb-4">Total Recievable: Rs <strong>{{client.balance}}</strong></p>
                                    <h4 class="card-title">Monthly Aging:</h4>
                                    <p class="card-subtitle mb-4">0-30days: <strong>{{ percentages.percentage_0_30_days }} %</strong></p>
                                    <p class="card-subtitle mb-4">30-60days: <strong>{{ percentages.percentage_31_60_days }} %</strong></p>
                                    <p class="card-subtitle mb-4">60-90days: <strong>{{ percentages.percentage_61_90_days }} %</strong></p>
                                    <p class="card-subtitle mb-4">90days+: <strong>{{ percentages.percentage_90_days_plus }} %</strong></p>
                                </div>
                                
                                    <div class="card-body">
                                        <h4 class="card-title">Send SMS</h4>
                                        <style>
                                            #sms-message {
                                                width: 100%;
                                                padding: 8px;
                                                margin-bottom: 10px;
                                                border: 1px solid #ccc;
                                                border-radius: 7px;
                                                resize: vertical;
                                            }
                                
                                            #sms-counter {
                                                font-size: 14px;
                                                color: tangerine; /* Change the color to tangerine */
                                                margin-top: 5px;
                                            }
                                        </style>
                                
                                        <!-- Display form errors, if any -->
                                        {{ sms_form.non_field_errors }}

                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <!-- Display phone_number field with label -->
                                            <div>
                                                {{ sms_form.phone_number.label_tag }}
                                                {{ sms_form.phone_number }}
                                            </div>
                                            <!-- Display subtype field with label -->
                                            <div>
                                                {{ sms_form.subtype.label_tag }}
                                                {{ sms_form.subtype }}
                                            </div>
                                            <!-- Use the existing textarea for description -->
                                            <div>
                                                <label for="sms-message">SMS Message</label>
                                                <textarea id="sms-message" name="description" rows="4" cols="50"></textarea>
                                                <div id="sms-counter">Characters: 0 | SMS Count: 0</div>
                                            </div>
                                            <!-- Add submit button -->
                                            <br>
                                            <div>
                                                <button class="btn btn-warning rounded-lg "type="submit">Send SMS</button>
                                            </div>
                                        </form>
                                      
                                    </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- end row-->

                    
                    <!-- end row-->
                </div>
                <div class="tab-pane " id="history">
                    <div class="alert " role="alert">
                        <table id="actionhistory-datatable" class="table custom-datatable">
                            <thead>
                                <tr class="alert alert-danger">
                                    
                                    <th>Action Date</th>
                                    <th class="text-center">Action Type</th>
                                    <th>Manual/Automated</th>
                                    <th>Action Amount</th>
                                    <th>Bill No.</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for action in actions %}
                                <tr style="background:#d1e4f6;">
                                    
                                    <td>{{ action.action_date }}</td>
                                    {% if action.action_type == 'SMS' %}
                                      <td class="text-center">
                                        <a tabindex="0" class="btn btn-warning waves-effect waves-light" style="width: 150px;" role="button" data-toggle="popover" data-trigger="focus" 
                                        title="{{ action.subtype }}" data-content="{{ action.description }}"><i class="mdi mdi-message"></i> {{ action.action_type }}</a>
                                      </td>
                                      {% elif action.action_type == 'Call' %}
                                      <td class="text-center">
                                        <a tabindex="0" class="btn btn-success waves-effect waves-light" style="width: 150px;" role="button" data-toggle="popover" data-trigger="focus" 
                                        title="{{action.subtype}}" data-content="{{action.description}}"><i class="mdi mdi-phone"></i>  {{ action.action_type }}</a>
                                      </td>
                                      {% elif action.action_type == 'Email' %}
                                      <td class="text-center">
                                        <a tabindex="0" class="btn btn-danger waves-effect waves-light"  style="width: 150px;" role="button" data-toggle="popover" data-trigger="focus" 
                                        title="{{action.subtype}}" data-content="{{action.description}}"><i class="mdi mdi-gmail"></i>  {{ action.action_type }}</a>
                                      </td>
                                      {% endif %}
                                    <td>{{action.type}}</td>
                                    <td>Rs  {{ action.action_amount }}</td>
                                    <td>{{ action.followup_date}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>

        </div> <!-- end card-body-->
    </div> <!-- end card-->
</div> <!-- end col -->

<script>
    $(document).ready(function() {
        // Check if the element with id "barChart" exists
        if ($("#barChart").length) {
            var currentChartCanvas = $("#barChart").get(0).getContext("2d");
            var currentChart = new Chart(currentChartCanvas, {
                type: 'bar',
                data: {
                    labels: ["0-15", "16-30", "31-45", "46-60", "61-75", "76-90", "91-105", "106-120", "Over 121"],
                    datasets: [{
                        label: 'Aging Report',
                        data: [
                            {{ aging_data.cycle1 }},
                            {{ aging_data.cycle2 }},
                            {{ aging_data.cycle3 }},
                            {{ aging_data.cycle4 }},
                            {{ aging_data.cycle5 }},
                            {{ aging_data.cycle6 }},
                            {{ aging_data.cycle7 }},
                            {{ aging_data.cycle8 }},
                            {{ aging_data.cycle9 }},
                        ],
                        backgroundColor: ['#2ac14e', '#2ac14e', '#f8ac5a', '#f8ac5a', '#f8ac5a', '#f8ac5a', '#e74c3c', '#e74c3c','#e74c3c']
                    }]
                },
                options: {
                    legend: {
                        display: true,
                        position: 'top', 
                        labels: {
                            fontColor: '#686868'
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                        yAxes: [{
                            display: false,
                            gridLines: {
                                drawBorder: false,
                            },
                            ticks: {
                                fontColor: "#686868",
                                callback: function(value, index, values) {
                                    return 'Rs ' + value;
                                }
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontColor: "#686868"
                            },
                            gridLines: {
                                display: false,
                                drawBorder: false
                            }
                        }]
                    },
                    elements: {
                        point: {
                            radius: 0
                        }
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                return ' Rs ' + tooltipItem.yLabel;
                            }
                        }
                    }
                }
            });
        }
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var messageInput = document.getElementById('sms-message');
        var counterDisplay = document.getElementById('sms-counter');
        var charactersContainer = document.getElementById('characters-container');
    
        messageInput.addEventListener('input', function () {
            var message = messageInput.value;
            var characterCount = message.length;
    
            // Calculate SMS count for Unicode characters
            var unicodeSMS = calculateSMSCount(characterCount, 70, 67);
    
            // Calculate SMS count for GSM characters
            var gsmSMS = calculateSMSCount(characterCount, 160, 153);
    
            // Display the SMS count based on the appropriate character set
            var smsCount = messageIsUnicode(message) ? unicodeSMS : gsmSMS;
    
            counterDisplay.textContent = 'Characters: ' + characterCount + ' | SMS Count: ' + smsCount;
    
            // Clear previous character boxes
            charactersContainer.innerHTML = '';
    
            // Display characters individually inside grey boxes
            for (var i = 0; i < characterCount; i++) {
                var characterBox = document.createElement('div');
                characterBox.classList.add('character-box');
                characterBox.textContent = message[i];
    
                // Check if the character is a Unicode character
                if (message[i].charCodeAt(0) > 255) {
                    characterBox.style.background = '#7F1D1D';
                    characterBox.style.color = '#FFFF'; // Change color to #7F1D1D
                }
    
                charactersContainer.appendChild(characterBox);
            }
        });
    
        function calculateSMSCount(characterCount, initialLimit, subsequentMultiplier) {
            var smsCount = 1;
            var characterLimit = initialLimit;
            var counter = 1;
    
            for (var i = 1; i < characterCount; i++) {
                if (i >= characterLimit) {
                    smsCount++;
                    counter++;
                    characterLimit = counter * subsequentMultiplier;
                }
            }
    
            return smsCount;
        }
    
        function messageIsUnicode(message) {
            for (var i = 0; i < message.length; i++) {
                if (message[i].charCodeAt(0) > 255) {
                    return true;
                }
            }
            return false;
        }
    });
    
    </script>


{% endblock content %}
