{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">

        <!-- Company and Contact Information Card -->
        <div class="card">
            <div class="card-body" style="background:#FAD9A1;">
                <div class="row mt-3 mb-0">
                    <!-- Company Information Column -->
                    <div class="col-md-4 font-weight-bold text-dark">
                        <!-- Client Information Section -->
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3 ">Client Id:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.short_name }}
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Account Name:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.account_name }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Address:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.address }}
                            </div>
                        </div>

                        <div class="row mb-1">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Balance:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.balance }}
                            </div>
                        </div>    
                    </div>
                    
                    <!-- Contact Information Column -->
                    <div class="col-md-4 font-weight-bold text-dark">

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Contact Name:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.contact_name }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Email:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.email }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Phone Number:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.phone_number }}
                            </div>
                        </div>

                        <div class="row mb-1">
                            <div class="col-sm-3">
                                <h6 class="mb-3">PAN Number:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.pan_number }}
                            </div>
                        </div>
                    </div>

                    <!-- Contact Information Column -->
                    <div class="col-md-4 font-weight-bold text-dark">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Group:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.group }}
                            </div>
                        </div>
        
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Collector:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.collector }}
                            </div>
                        </div>
        
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-3">Guarantee World Insurer:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.guarantee_world_insurer }}
                            </div>
                        </div>
        
                        <div class="row mb-1">
                            <div class="col-sm-3">
                                <h6 class="mb-1">Credit Limit:</h6>
                            </div>
                            <div class="col-sm-9">
                                {{ client.credit_limit }}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div><!-- end col -->
</div>
<!-- end row -->


<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs nav-justified mb-3">
                <li class="nav-item">
                    <a href="#collection" data-toggle="tab" aria-expanded="true" class="nav-link active">
                        <i class="mdi mdi-home-variant d-lg-none d-block"></i>
                        <span class="d-none d-lg-block">Collection </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#risk" data-toggle="tab" aria-expanded="false" class="nav-link ">
                        <i class="mdi mdi-account-circle d-lg-none d-block"></i>
                        <span class="d-none d-lg-block">Risk Report</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#report" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <i class="mdi mdi-settings-outline d-lg-none d-block"></i>
                        <span class="d-none d-lg-block">Report & Indicators</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#history" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <i class="mdi mdi-settings-outline d-lg-none d-block"></i>
                        <span class="d-none d-lg-block">History </span>
                    </a>
                </li>
                <hr>
            </ul>
            <br><br> <h5 class="mb-4"><i class="mdi mdi-calendar-check"></i> Actions to do :</h5>
            {% if last_actions_for_bills %}
            <div class="alert " role="alert">
                    

                        <table id="manual-datatable" class="table custom-datatable">
                            <thead>
                              <tr class="alert alert-danger">
                                    <th>Completed</th>
                                    <th>Action Date</th>
                                    <th>Action Type</th>
                                    <th>Action Amount</th>
                                    <th>Bill No.</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                {% for bill, last_action in last_actions_for_bills.items %}
                                {% if last_action %}
                                {% if not last_action.completed and last_action.type == 'manual' %}
                                <tr>
                                    <td class="text-center" style="width: 10px;">
                                        <input type="checkbox" name="completed_actions" value="{{ last_action.id }}">
                                    </td>
                                    <td>{{ last_action.action_date }}</td>
                                    {% if last_action.action_type == 'SMS' %}
                                    <td>
                                        <button type="button" class="btn btn-warning waves-effect waves-light" style="width: 150px;">
                                            <i class="mdi mdi-message"></i> {{ last_action.action_type }}
                                        </button>
                                    </td>
                                    {% elif last_action.action_type == 'Call' %}
                                    <td>
                                        <button type="button" class="btn btn-success waves-effect waves-light" style="width: 150px;">
                                            <i class="mdi mdi-phone"></i> {{ last_action.action_type }}
                                        </button>
                                    </td>
                                    {% elif last_action.action_type == 'Email' %}
                                    <td>
                                        <button type="button" class="btn btn-danger waves-effect waves-light" style="width: 150px;">
                                            <i class="mdi mdi-gmail"></i> {{ last_action.action_type }}
                                        </button>
                                    </td>
                                    {% endif %}
                                    <td>Rs {{ last_action.action_amount }}</td>
                                    <td>{{ last_action.bill_no}}</td>
                                   
                                </tr>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>

                </ul>
            </div>
        {% endif %}
        
        

            <div class="tab-content">
                <div class="tab-pane show active" id="collection">
                    <div class="col-12">
                        <div class="card-body">
                            <h4 class="card-title">Collection</h4>
                            <table id="basic-datatable" class="table active">
                                <thead>
                                    <tr style="background:#d1e4f6;">
                                        <th>#</th>
                                        <th>Bill no. </th>
                                        <th>Due date</th>
                                        <th>Over due </th>
                                        <th>Overdue120</th>
                                        
                                    </tr>
                                </thead>
                            
                            
                                <tbody>
                                    {% for bill in bills %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ bill.bill_no }}</td>
                                            <td>{{ bill.due_date }}</td>
                                            <td>{{ bill.balance }}</td>
                                            <td>{{ bill.short_name.overdue120 }}</td>
                                            <!-- Add more columns for bill information -->
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
            
                        </div> <!-- end card body-->
                    </div><!-- end col-->
                </div>
                <div class="tab-pane show" id="risk">
                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                    <p class="mb-0">Leggings occaecat dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                </div>
                <div class="tab-pane" id="report">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">Chartjs</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Charts</a></li>
                                        <li class="breadcrumb-item active">Chartjs</li>
                                    </ol>
                                </div>
                                
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                    
                                    <h4 class="card-title">Line Chart</h4>
                                    <p class="card-subtitle mb-4">Example of line chart chart js.</p>

                                    <canvas id="lineChart"></canvas>
                    
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                    
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                    
                                    <h4 class="card-title">Bar Chart</h4>
                                    <p class="card-subtitle mb-4">Example of bar chart chart js.</p>

                                    <canvas id="barChart"></canvas>
                    
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                    
                                    <h4 class="card-title">Area chart</h4>
                                    <p class="card-subtitle mb-4">Example of line area chart js.</p>

                                    <canvas id="areaChart"></canvas>
                    
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                    
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                    
                                    <h4 class="card-title">Pie chart</h4>
                                    <p class="card-subtitle mb-4">Example of line pie chart js.</p>

                                    <canvas id="pieChart"></canvas>
                    
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->
                </div>
                <div class="tab-pane" id="history">
                    <p>Food truck quinoa dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                    <p class="mb-0">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                </div>
            </div>

        </div> <!-- end card-body-->
    </div> <!-- end card-->
</div> <!-- end col -->
{% endblock content %}
