{% extends "base.html" %}

{% block content %}

{% load static %}
<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <div class="col-lg-12 text-right">
              {% include "alerts.html" %}
              <button type="button" class="btn btn-warning waves-effect waves-light" data-toggle="modal" data-target="#exampleModalLong">
                Add Action
            </button>
               
                </div>
                <br>
            <h4 class="card-title">ACTIONS</h4>
            <br>

            <ul class="nav nav-tabs nav-justified mb-3">
                <li class="nav-item">
                    <a href="#manual" data-toggle="tab" aria-expanded="true" class="nav-link active">
                        <i class="mdi mdi-home-variant d-lg-none d-block"></i>
                        <!-- Display the count of manual actions that are not completed -->
                        <span class="d-none d-lg-block">Manual Actions 
                          <span class="badge badge-danger badge-pill">{{ manual_not_completed_count }}</span></span>                            
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#automatic" data-toggle="tab" aria-expanded="false" class="nav-link ">
                        <i class="mdi mdi-account-circle d-lg-none d-block"></i>
                        <span class="d-none d-lg-block">Automatic Actions <span class="badge badge-danger badge-pill">{{ auto_count }}</span></span></span>
                        
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#allaction" data-toggle="tab" aria-expanded="false" class="nav-link ">
                        <i class="mdi mdi-account-circle d-lg-none d-block"></i>
                        <span class="d-none d-lg-block">Action History </span>
                        
                    </a>
                </li>
            </ul>
        
    <div class="tab-content">
        <div class="tab-pane show active" id="manual">
            <div class="row">
                <div class="col-12">
                        <div class="card-body">
                            
                        

                        <!-- Update Actions Form -->
                        <form method="post" action="{% url 'collection' %}">
                          {% csrf_token %}
                          <table id="basic-datatable" class="table">
                              <thead>
                                  <tr>
                                      <th>Completed</th>
                                      <th>Action Date</th>
                                      <th>Action Type</th>
                                      <th>Action Amount</th>
                                      <th>Bill No.</th>
                                      <th>Client Name</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for action in actions %}
                                  {% if not action.completed and action.type == 'manual' %}
                                  <tr style="background-color: #f2dede;">
                                      <td class="text-center" style="width: 10px;">
                                          <input type="checkbox" name="completed_actions" value="{{ action.id }}">
                                      </td>
                                      <td>{{ action.action_date }}</td>
                                      {% if action.action_type == 'SMS' %}
                                      <td>
                                          <button type="button" class="btn btn-warning waves-effect waves-light" style="width: 150px;">
                                              <i class="mdi mdi-message"></i> {{ action.action_type }}
                                          </button>
                                      </td>
                                      {% elif action.action_type == 'Call' %}
                                      <td>
                                          <button type="button" class="btn btn-success waves-effect waves-light" style="width: 150px;">
                                              <i class="mdi mdi-phone"></i> {{ action.action_type }}
                                          </button>
                                      </td>
                                      {% elif action.action_type == 'Email' %}
                                      <td>
                                          <button type="button" class="btn btn-danger waves-effect waves-light" style="width: 150px;">
                                              <i class="mdi mdi-gmail"></i> {{ action.action_type }}
                                          </button>
                                      </td>
                                      {% endif %}
                                      <td>Rs {{ action.action_amount }}</td>
                                      <td>{{ action.bill_no}}</td>
                                      <td><a href="{% url 'client_profile' client_id=action.bill_no.short_name.id %}">{{ action.bill_no.short_name }}</a></td>
                                  </tr>
                                  {% endif %}
                                  {% endfor %}
                              </tbody>
                          </table>
                          {% if manual_not_completed_count > 0 %}
                          <button type="submit" name="update_actions" class="btn btn-success btn-sm waves-effect waves-light">Complete Actions</button>
                          {% endif %}
                        </form>

                        
                              
                        </div> <!-- end card body-->
                 
                </div><!-- end col-->
            </div>
            <!-- end row-->
        
        </div>
        <div class="tab-pane " id="automatic">
            <div class="row">
                <div class="col-12">
                        <div class="card-body">
                            
                            
                                <table id="basic-datatable" class="table">
                                  <thead>
                                    <tr>
                                      
                                      <th>Action Date</th>
                                      <th>Action Type</th>
                                      <th>Action Amount</th>
                                      <th>Bill No.</th>
                                      <th>Client Name</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for action in actions %}
                                    {% if action.type == 'auto'  %}
                                    <tr style="{% if action.completed %}background-color: #dff0d8;
                                    {% elif not action.completed %}background-color: #fcf8e3;{% endif %}">
                                      
                                      <td>{{ action.action_date }}</td>
                                      {% if action.action_type == 'SMS' %}
                                      <td>
                                        <button type="button" class="btn btn-warning waves-effect waves-light" style="width: 150px;">
                                          <i class="mdi mdi-message"></i> {{ action.action_type }}
                                        </button>
                                      </td>
                                      {% elif action.action_type == 'Call' %}
                                      <td>
                                        <button type="button" class="btn btn-success waves-effect waves-light" style="width: 150px;">
                                          <i class="mdi mdi-phone"></i> {{ action.action_type }}
                                        </button>
                                      </td>
                                      {% elif action.action_type == 'Email' %}
                                      <td>
                                        <button type="button" class="btn btn-danger waves-effect waves-light" style="width: 150px;">
                                          <i class="mdi mdi-gmail"></i> {{ action.action_type }}
                                        </button>
                                      </td>
                                      {% endif %}
                                      <td>Rs {{ action.action_amount }}</td>
                                      <td>{{ action.bill_no }}</td>
                                      <td><a href="{% url 'client_profile' client_id=action.bill_no.short_name.id %}">{{ action.bill_no.short_name }}</a></td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                  </tbody>
                                </table>
                              
                              
                        </div> <!-- end card body-->
                 
                </div><!-- end col-->
            </div>
            <!-- end row-->
        </div>
        <div class="tab-pane" id="allaction">
            <div class="row">
                <div class="col-12">
                        <div class="card-body">
                            
                            
                                <table id="basic-datatable" class="table">
                                  <thead>
                                    <tr>
                                      
                                      <th>Action Date</th>
                                      <th>Action Type</th>
                                      <th>Action Amount</th>
                                      <th>Bill No.</th>
                                      <th>Client Name</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for action in actions %}
                                    {% if action.completed %}
                                    <tr style="background:#dff0d8">
                                     
                                      <td>{{ action.action_date }}</td>
                                      {% if action.action_type == 'SMS' %}
                                      <td>
                                        <button type="button" class="btn btn-warning waves-effect waves-light" style="width: 150px;">
                                          <i class="mdi mdi-message"></i> {{ action.action_type }}
                                        </button>
                                      </td>
                                      {% elif action.action_type == 'Call' %}
                                      <td>
                                        <button type="button" class="btn btn-success waves-effect waves-light" style="width: 150px;">
                                          <i class="mdi mdi-phone"></i> {{ action.action_type }}
                                        </button>
                                      </td>
                                      {% elif action.action_type == 'Email' %}
                                      <td>
                                        <button type="button" class="btn btn-danger waves-effect waves-light" style="width: 150px;">
                                          <i class="mdi mdi-gmail"></i> {{ action.action_type }}
                                        </button>
                                      </td>
                                      {% endif %}
                                      <td>Rs {{ action.action_amount }}</td>
                                      <td>{{ action.bill_no }}</td>
                                      <td><a href="{% url 'client_profile' client_id=action.bill_no.short_name.id %}">{{ action.bill_no.short_name }}</a></td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                  </tbody>
                                </table>
                                
                              
                        </div> <!-- end card body-->
                 
                </div><!-- end col-->
            </div>
            <!-- end row-->
        </div>
    </div>
        </div> <!-- end card-body-->
    </div> <!-- end card-->
</div> <!-- end col -->

<!-- end row-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"> <i class="mdi mdi-format-list-triangle danger" style="color: red;"></i>
                Action  </h5>
              <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <!-- Add Action Form -->
              <form method="post" id="actionForm" data-bills-url="{% url 'load_bills' %}">
                {% csrf_token %}
                
                <!-- Render each form field individually -->
                <label >Action Date:</label>
                {{ add_form.action_date }}
                <br>
                

                <div class="form-group mb-0">
                  <label>Action Type</label>
                  <br/>
                  <div class="col mt-1">
                      <div class="btn-group btn-group-toggle waves-effect waves-light bg-color-primary" data-toggle="buttons">
                          <label class="btn btn-danger {% if add_form.action_type.value == 'Email' %}active{% endif %}">
                              <input type="radio"  class="btn btn-secondary waves-effect waves-light" data-toggle="tooltip" data-placement="bottom" title="Selected" name="{{ add_form.action_type.name }}" value="Email" {% if add_form.action_type.value == 'Email' %}checked{% endif %}/>
                              <i class="mdi mdi-gmail"></i> Email
                          </label>
                          
                          <label class="btn btn-warning {% if add_form.action_type.value == 'SMS' %}active{% endif %}">
                              <input type="radio" name="{{ add_form.action_type.name }}" value="SMS" {% if add_form.action_type.value == 'SMS' %}checked{% endif %}/>
                              <i class="mdi mdi-message"></i> SMS
                          </label>
                          
                          <label class="btn btn-success {% if add_form.action_type.value == 'Call' %}active{% endif %}">
                              <input type="radio" name="{{ add_form.action_type.name }}" value="Call" {% if add_form.action_type.value == 'Call' %}checked{% endif %}/>
                              <i class="mdi mdi-phone"></i> Call
                          </label>
                      </div>
                  </div>
              </div>
              
              
                
              
            
                <br>
                <label for="{{ add_form.short_name.id_for_label }}">Client:</label>
                {{ add_form.short_name }}
                <br>
                <label for="{{ add_form.bill_no.id_for_label }}">Bill No:</label>
                {{ add_form.bill_no }}
                

                <br>
                <!-- Your HTML code -->
                  <div class="form-group mb-0">
                    <label>Completed:</label>
                    <input type="checkbox" data-toggle="switchery"  id="completedCheckbox" name="completed" value="on" {% if add_form.completed.value %}checked{% endif %}/>
                  </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Close</button>
                    <button type="submit" name="add_action" class="btn btn-warning waves-effect waves-light">Update Action</button>
                </div>
            </form>
      </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script>
    $(document).ready(function() {
        $("#id_short_name").change(function () {
            const url = "{% url 'load_bills' %}";
            const clientId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'client_id': clientId
                },
                success: function (data) {
                    $("#id_bill_no").html(data);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>

<!-- Include Switchery JavaScript -->
<script src="{% static "assets/plugins/switchery/switchery.min.js" %}"></script>


<script>
  var completedCheckbox = document.getElementById('completedCheckbox');
  var switchery = new Switchery(completedCheckbox, {
      color: '#09c199',
      size: 'small'
  });
</script>
{% endblock content %}


