{% extends "base.html" %}

{% block content %}


<div class="card">
    {% include "alerts2.html" %}
    <div class="card-body">
        <h2>Edit Client</h2>
        <br>
     
        <form method="POST" action="{% url 'edit_client' client_id=client.id %}">
            {% csrf_token %}
            {{ form.errors }}
            <div class="row">
                <div class="col-lg-6">
                    <label for="short_name">Client Id:</label>
                        {{form.short_name}}
                    <label for="account_name">Client Name:</label>
                        {{form.account_name}}
                    <label for="address">Address:</label>
                        {{form.address}}

                    <label for="phone_number">Phone:</label>
                        {{form.phone_number}}
                    <label for="email">Email:</label>
                        {{form.email}}
                    <label for="balance">Balance:</label>
                        {{form.balance}}


                </div>
                <div class="col-lg-6">

                    <label for="pan_number">Pan no:</label>
                        {{form.pan_number}}
                    <label for="group">Group:</label>
                        {{form.group}}
                    <label for="collector"> Collector:</label>
                        {{form.collector}}

                    <label for="guarantee_world_insurer">Guarantee:</label>
                        {{form.guarantee_world_insurer}}

                    <label for="credit_limit">Credit limit:</label>
                        {{form.credit_limit}}
                    <label for="contact_name">Contact Name:</label>
                        {{form.contact_name}}
               
                </div>
            </div>
            <br>
            <button class="btn btn-primary btn-lg waves-effect waves-light" type="submit">Submit</button>
        </form>
    </div> <!-- end card-body-->
</div> <!-- end card -->

           
{% endblock content %}

