{% extends "base.html" %}

{% block content %}
       
            
          
        


        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
    
                    <h4 class="card-title">Upload file</h4>
                    <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                </form>
        
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
{% endblock content %}