{% extends "base.html" %}

{% block content %}
{% load static %}
<link href="{% static "assets/css/loader.css" %}" rel="stylesheet" type="text/css" />

<div id="loadingOverlay">
    <div class="dots-loader"></div>
</div>

<!-- Your content goes here -->
<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Upload file</h4>
            <form id="uploadForm" method="POST"  action="{% url 'upload_excel' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <br>
                <button type="submit" class="btn btn-warning" onclick="validateAndUpload()">Upload</button>
            </form>
            <br>
            {% if error_message %}
                <div class="alert alert-danger show-notification" role="alert">
                    <strong>{{ error_message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        </div> <!-- end card-body-->
    </div> <!-- end card-->
</div> <!-- end col -->

{% include "alerts.html" %}

<script>
    //loader page
    function startUpload() {
        // Show loading overlay
        document.body.classList.add('loading');
        document.getElementById('loadingOverlay').style.display = 'flex';

        // Simulate a delay (replace this with your actual file upload code)
        setTimeout(function () {
            // Hide loading overlay after the file is uploaded
            document.body.classList.remove('loading');
            document.getElementById('loadingOverlay').style.display = 'none';
        }, 40000); // Replace 40000 with the actual time it takes to upload the file
    }

    // Validate and initiate upload
    function validateAndUpload() {
        // Check if a file is selected
        var fileInput = document.querySelector('input[type="file"]');
        if (fileInput.files.length > 0) {
            // Call startUpload() function if a file is selected
            startUpload();
        } else {
             // Display SweetAlert message when no file is selected
             Swal.fire({
                icon: 'error',
                title: 'Please select a file before uploading.',
            });
        }
    }
</script>
{% endblock content %}
