{% extends "base.html" %}

{% block content %}
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-4">
                            
                            <h5 class="card-title mb-0">My Client Dues</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            
                                <h2 class="d-flex align-items-center ml-2">
                                    Rs {{ grand_total_balance|floatformat:2}}
                                </h2>
                            
                           
                        </div>   
                    </div>
                    <!--end card body-->
                </div><!-- end card-->
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-4">
                            
                            <h5 class="card-title mb-0">Actions To Do</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{collector_count}}
                                </h2>
                            </div>
                            
                        </div>

                        <div class="progress shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 57%;">
                            </div>
                        </div>
                    </div>
                    <!--end card body-->
                </div><!-- end card-->
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-4">
                            
                            <h5 class="card-title mb-0">Reminders</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{upcoming_actions_count}}
                                </h2>
                            </div>    
                        </div>  
                    </div>
                    <!--end card body-->
                </div>
                <!--end card-->
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-primary float-right">All Time</span>
                            <h5 class="card-title mb-0">My collection</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0">
                                    Rs 100
                                </h2>
                            </div>
                            
                        </div>

                        <div class="progress shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 57%;"></div>
                        </div>
                    </div>
                    <!--end card body-->
                </div><!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->
        <div class="row">
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Top Debters</h4>

                        <div class="table-responsive">
                            <table class="table table-centered table-striped table-nowrap mb-0">
                                <thead>
                                    <tr>
                                        
                                        <th>Client Name</th>
                                        {% comment %} <th>Group</th> {% endcomment %}
                                    
                                        <th>Overdue</th>
                                        <th>Overdue + 120d</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for client in top_clients %}
                                    <tr style="background:#dff0d8;">
                                        
                                        
                                        <td>
                                            <b>
                                                <a href="{% url 'client_profile' client_id=client.id %}">{{ client.account_name }}</a>
                                            </b>
                                            &emsp;
                                            
                                        </td>
                                        {% comment %} <td>{{ client.group }}</td> {% endcomment %}
                                        
                                        <td><b>Rs {{ client.balance }}</td>
                                        <td><b>Rs {{ client.overdue120 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!--end card body-->

                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-body">
                
                        <h4 class="card-title">Today's Follow-up</h4>
                
                        {% if clients_with_follow_up_today %}
                            {% for client in clients_with_follow_up_today|slice:":7" %}
                                <p>{{ forloop.counter }}. <a href="{% url 'client_profile' client_id=client.id %}">{{ client.account_name }}</a></p>
                            {% endfor %}
                
                            {% if clients_with_follow_up_today|length > 7 %}
                            
                            <p class="text-right" data-toggle="modal" data-target="#exampleModalLong"><a href="#">View more</a></p>
                            {% endif %}   
                        {% else %}
                            <p>No follow-up</p>
                            
                        {% endif %}
                        
                        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">All Follow-ups</h5>
                                        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for client in clients_with_follow_up_today %}
                                        <p>{{ forloop.counter }}. <a href="{% url 'client_profile' client_id=client.id %}">{{ client.account_name }}</a></p>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end card body-->
                </div>
                
                
                
            </div>
            <!--end col-->

        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-lg-9">
                                <h4 class="card-title">Client Aging</h4>
                                
                                <canvas id="barChart"></canvas>
                            </div>

                            <div class="col-lg-3">

                                <div class="card-body">
                                    <h4 class="card-title">Aging Report</h4>
                                    <p class="card-subtitle mb-4">Recievable:<span class="text-danger"> Rs <strong>{{ grand_total_balance|floatformat:2}}</strong><span></p>
                                        <h4 class="card-title">Monthly Aging:</h4>
                                        <p class="card-subtitle mb-4"><span class="text-success">0-30days:</span> <strong>{{ percentages.percentage_0_30_days }} %</strong></p>
                                        <p class="card-subtitle mb-4"><span class="text-warning">30-60days:</span> <strong>{{ percentages.percentage_31_60_days }} %</strong></p>
                                        <p class="card-subtitle mb-4"><span class="text-warning">60-90days:</span> <strong>{{ percentages.percentage_61_90_days }} %</strong></p>
                                        <p class="card-subtitle mb-4"><span class="text-danger">90days+:</span> <strong>{{ percentages.percentage_90_days_plus }} %</strong></p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--end card body-->
                </div> <!-- end card-->
            </div> <!-- end col -->

            
        </div>
        <!--end row-->


        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                       
                        <h4 class="card-title d-inline-block">Overdue Trend (15 days)</h4>

                        <div id="line-chart"></div>

                        <div class="row text-center mt-4">
                            <div class="col-12">
                                <h4>Rs {{ grand_total_balance|floatformat:2}}</h4>
                                <p class="text-muted mb-0">Total Recievable</p>
                            </div>
                            
                        </div>

                    </div>
                    <!--end card body-->

                </div>
                <!--end card-->
            </div>
            <!--end col-->
            

        </div>
        <!--end row-->

        
    </div> <!-- container-fluid -->

<!-- End Page-content -->

<script>
    $(document).ready(function() {
        // Check if the element with id "barChart" exists
        if ($("#barChart").length) {
            var currentChartCanvas = $("#barChart").get(0).getContext("2d");
            var currentChart = new Chart(currentChartCanvas, {
                type: 'bar',
                data: {
                    labels: ["0-15", "16-30", "31-45", "46-60", "61-75", "76-90", "91-105", "106-120", "Over 121"],
                    datasets: [{
                        label: 'Aging Report',
                        data: [
                            {{ aging_data.cycle1 }},
                            {{ aging_data.cycle2 }},
                            {{ aging_data.cycle3 }},
                            {{ aging_data.cycle4 }},
                            {{ aging_data.cycle5 }},
                            {{ aging_data.cycle6 }},
                            {{ aging_data.cycle7 }},
                            {{ aging_data.cycle8 }},
                            {{ aging_data.cycle9 }},
                        ],
                        backgroundColor: [
                            '#2ac14e', '#2ac14e', 
                            '#f8ac5a', '#f8ac5a', '#f8ac5a', '#f8ac5a', '#f8ac5a',
                            '#ff6358', '#ff6358' 
                        ]
                    }]
                },
                options: {
                    legend: {
                        display: true,
                        position: 'top',  // Position the legend at the top
                        labels: {
                            fontColor: '#686868'
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                        yAxes: [{
                            display: false,
                            gridLines: {
                                drawBorder: false,
                            },
                            ticks: {
                                fontColor: "#686868",
                                callback: function(value, index, values) {
                                    return 'Rs ' + value;
                                }
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontColor: "#686868"
                            },
                            gridLines: {
                                display: false,
                                drawBorder: false
                            }
                        }]
                    },
                    elements: {
                        point: {
                            radius: 0
                        }
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                return ' Rs ' + tooltipItem.yLabel;
                            }
                        }
                    },
                }
            });
        }
        <!-- Check if the container element exists -->
        if ($('#line-chart').length) {
            // Initialize Morris Line Chart
            Morris.Line({
                element: 'line-chart',
                data: {{ chart_data|safe }},
                xkey: 'y',
                ykeys: ['balance'],
                labels: ['Balance'],
                parseTime: false,  // If 'y' values are not dates, set this to false
                hideHover: 'auto',
                resize: true
            });
        }

    });
</script>



{% endblock content %}

