{% extends "base.html" %}

{% block content %}


<div class="col-xl-12">
    {% include "alerts.html" %}
<br>
<ul class="nav nav-tabs nav-justified mb-3" style="background:#d1e4f6;">
    <li class="nav-item">
        <a href="#home1" data-toggle="tab" aria-expanded="true" class="nav-link active">
            <i class="mdi mdi-home-variant d-lg-none d-block"></i>
            <span class="d-none d-lg-block">All Clients</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#profile1" data-toggle="tab" aria-expanded="false" class="nav-link ">
            <i class="mdi mdi-account-circle d-lg-none d-block"></i>
            <span class="d-none d-lg-block">My Clients</span>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="home1">
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <h4 class="card-title">CLIENTS</h4>
                    <table id="basic-datatable" class="table">
                        <thead>
                            <tr style="background:#d1e4f6;">
                                <th>#</th>
                                <th>Client Id</th>
                                <th>Client Name</th>
                                <th>Group</th>
                                <th>Pan no:</th>
                                <th>Overdue</th>
                                <th>Overdue + 120d</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                                <tr style="background:#dff0d8;">
                                    <th scope="row">
                                        <a href="#" class="deleteButton" data-url="{% url 'delete_client' client_id=client.id %}">
                                            <i class="feather-trash-2 text-danger"></i>
                                        </a>
                                        &emsp;
                                    </th>
                                    <td>{{ client.short_name }}</td>
                                    <td>
                                        <b>
                                            <a href="{% url 'client_profile' client_id=client.id %}">{{ client.account_name }}</a>
                                        </b>
                                        &emsp;
                                        <a href="{% url 'edit_client' client_id=client.id %}">
                                            <i class="dripicons-document-edit text-success"></i>
                                        </a>
                                    </td>
                                    <td>{{ client.group }}</td>
                                    <td>{{ client.pan_number }}</td>
                                    <td><b>रु‎ {{ client.balance }}</td>
                                    <td><b>रु‎ {{ client.overdue120 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                    
                </div> <!-- end card body-->
            </div><!-- end col-->
        </div>
        <!-- end row-->
    </div>
    <div class="tab-pane " id="profile1"> <!-- Remove the extra '#' character here -->
        <!-- Content for My Clients tab -->
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <h4 class="card-title">MY CLIENTS</h4>
                    <table id="basic-datatable" class="table">
                        <!-- Table content for My Clients tab -->
                        <thead>
                            <tr style="background:#d1e4f6;">
                                <th>#</th>
                                <th>Short Name</th>
                                <th>Account Name</th>
                                <th>Collector</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients_linked_to_user %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ client.short_name }}</td>
                                    <td>
                                        <b>
                                            <a href="{% url 'client_profile' client_id=client.id %}">{{ client.account_name }}</a>
                                        </b>
                                    </td>
                                    <td>{{ client.collector.full_name|default:"Not Assigned" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- end card body-->
            </div><!-- end col-->
        </div>
        <!-- end row-->
    </div>
    
</div>
</div> <!-- end col -->

<script>
    document.querySelectorAll('.deleteButton').forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();

            // Get the URL from the data-url attribute
            var deleteUrl = button.getAttribute('data-url');

            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                // Check if the user clicked the confirm button
                if (result.isConfirmed) {
                    // Display the success message
                    Swal.fire({
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    });

                    // Navigate to the URL stored in the data-url attribute
                    if (deleteUrl) {
                        window.location.href = deleteUrl;
                    } else {
                        console.error('No data-url attribute found on the clicked button.');
                    }
                }
            });
        });
    });
</script>




<!-- end row-->
{% endblock content %}

